<footer class="bottom-nav">
    <a href="/dashboard" class="nav-item <%= active === 'dashboard' ? 'active' : '' %>">
      <i class="fas fa-home"></i><span>HOME</span>
    </a>
    <a href="/transactions" class="nav-item <%= active === 'transaction' ? 'active' : '' %>">
      <i class="fas fa-dollar-sign"></i><span>TRANSACTION</span>
    </a>
    <a href="/order" class="nav-item <%= active === 'order' ? 'active' : '' %>">
      <i class="fas fa-cart-plus"></i><span>ORDER</span>
    </a>
    <a href="/service" class="nav-item <%= active === 'service' ? 'active' : '' %>">
      <i class="fas fa-wrench"></i><span>SERVICE</span>
    </a>
    <a href="/profile" class="nav-item <%= active === 'profile' ? 'active' : '' %>">
      <i class="fas fa-user"></i><span>PROFILE</span>
    </a>
    
  </footer>
  